body{
	background-color: #E6E6DC;
}

h3{
	font-size: 36px;
	color: #00628B;

}

h2{
	margin-bottom: 15px;
	font-size: 40px;
	font-family: sans-serif;
}

p{
	font-size: 15px;
	font-family: Georgia, serif;
}

img{
	margin-bottom: 20px;
	margin-top: 20px;
}

.nav_list {
	list-style-type: none;
}

.navigation {
	margin-top: 6%;
	margin-left: 5%;
	position:fixed;
	color: #00628B;
	font-size: 20px;
}

#selected_page{
	color:Black;
}

.content {
	border-left: 3px;
	background-color: beige;
	border-left-style: solid;
	border-right-style: solid;
}