<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>The Dynamic Classroom</title>
    <meta name="description" content="">
    <meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/OverallSiteStyle.css') }}" rel="stylesheet">


	<!-- JS
	==================================================-->



</head>
<body>
		<div class="row">
			<div class="col-md-2 left" id="left_column">

				<div class="navigation">	

					<ul class="nav_list">
						<li><a href="/"><div class="nav-text">Home</div></a></li>
						<li class='active'><a href="#"><div class="nav-text" id="selected_page">Hackathon</div></a></li>
						<li><a href="journal"><div class="nav-text">Journals</div></a></li>
						<li><a href="results"><div class="nav-text">Results</div></a></li>
						<li><a href="about"><div class="nav-text">About Us</div></a></li>

					</ul>
				</div>
			</div> <!-- /col-md-2 navigation -->

			<div class="col-xs-6 col-md-8 content">	
				<div class="row">
					<div class="col-md-10">
						<h2><a href="../view">Hackathons</a></h2>
						<p>
							Hackathons take what students learned from a previous week's learning challenge and have them test their skills. Students are presented with a scenerio and are then required to take what they learn to complete the hackathon in a 3 hour timespan. 
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-10">
						<h2>Week 6 Example: Flask/SQLAlchemy Hackathon</h2>
                        <ul><h4>Task</h4></ul>
						<p>
							Develop a web server for an “Exotic Pet Breeding” site. Tailor your site to a particular exotic species. Be creative and imaginative in which species your team choose to support.
						</p>
                       
                           <h4> Server-side Database Specification</h4>
                        <p>
                            Unlike in the last week hackathon where the database functionality is fake, this week’s hackathon requires your team to connect your Flask server to a real database. The database should meet the minimum requirements below:
                            It should have one table storing data about pets.
                            The table should have at least 3 columns. One of the columns should be name. The other two should be based on your team’s imagination.
                            The table should have at least 10 rows (i.e., 10 pets).
                            Submission: After these requirements are met, take a screenshot of the content of the table as seen in a GUI viewer (e.g., SQL Manager)
                        </p>
                        <br><br>
                        <p>
                            Server-side API Specifications
                            The web server should provide two services: Search and View.
                            1. Search:
                            Its location is http://localhost:5000/search
                            A usage example is: http://localhost:5000/search?n=1&type=metal
                            It returns an HTML page showing a list of results.
                            It can take a take at least a combination of TWO arguments as search criteria. For examples:
                            http://localhost:5000/search would return all results
                            http://localhost:5000/search?color=red would return all red pets.
                            http://localhost:5000/search?color=red&trait=aggresive would return all red pets who are aggressive.

                        </p>
                        <br><br>
                        <p>
                            2. View:
                            Its location is http://localhost:5000/view
                            A usage example is http://localhost:5000/view/ben
                            It returns an HTML page about a pet by a particular name (e.g., ben).

                        </p>
					</div>
				</div>
			</div>


			<div class="col-md-2 right">
			</div>

		</div> <!-- container -->

	</div>
</body>

</html>
