<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>The Dynamic Classroom</title>
    <meta name="description" content="">
    <meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/OverallSiteStyle.css') }}" rel="stylesheet">


	<!-- JS
	==================================================-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>



</head>
<body>
	<div class="row no-margin">
		<div class="col-md-2 left" id="left_column">

			<div class="navigation">	

				<ul class="nav_list">
					<li><a href="/"><div class="nav-text">Home</div></a></li>
					<li class='active'><a href="#"><div class="nav-text" id="selected_page">Hackathon</div></a></li>
					<li><a href="journal"><div class="nav-text">Journals</div></a></li>
					<li><a href="about"><div class="nav-text">About Us</div></a></li>

					<script>
					$( "li" ).hover(
						function() {
							$( this ).css("font-size", "25px");
						}, function() {
							$( this ).css("font-size", "20px");
						}
						);
					</script>

				</ul>
			</div>
		</div> <!-- /col-md-2 navigation -->

		<div class="col-xs-6 col-md-8 content">	
			<div class="row">
				<div class="col-md-12">
					<h1>Hackathons</h1>
					<p>
						Hackathons take what students learned from a previous week's learning challenge and have them test their skills. Students are presented with a scenerio and are then required to take what they learn to complete the hackathon in a 3 hour timespan. 
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h2>Week 6 Example: Flask/SQLAlchemy Hackathon</h2>
					<h3>Task</h3>
					<p>
						Develop a web server for an “Exotic Pet Breeding” site. Tailor your site to a particular exotic species. Be creative and imaginative in which species your team choose to support.
						<br><br>	</p>
						
						<h4> Server-side Database Specification</h4>
						<p>
							Unlike in the last week hackathon where the database functionality is fake, this week’s hackathon requires your team to connect your Flask server to a real database. The database should meet the minimum requirements below:
							It should have one table storing data about pets.
							The table should have at least 3 columns. One of the columns should be name. The other two should be based on your team’s imagination.
							The table should have at least 10 rows (i.e., 10 pets).
							Submission: After these requirements are met, take a screenshot of the content of the table as seen in a GUI viewer (e.g., SQL Manager)
						</p>
						<br><br>
						<p>
							<h4>Server-side API Specifications</h4>
							<p>The web server should provide two services:<br><br> Search and View.<br><br></p>
							1. Search:<br>
							<ul>
								<li>Its location is http://localhost:5000/search</li>
								<li>A usage example is: http://localhost:5000/search?n=1&type=metal</li>
								<li>It returns an HTML page showing a list of results.</li>
								<li>It can take a take at least a combination of TWO arguments as search criteria. For examples:<ul>
									http://localhost:5000/search would return all results<br>
									http://localhost:5000/search?color=red would return all red pets.<br>
									http://localhost:5000/search?color=red&trait=aggresive would return all red pets who are aggressive.</li></ul>
								</ul>
							</p>
							2. View:
							<ul>
								<li>Its location is http://localhost:5000/view</li>
								<li>A usage example is http://localhost:5000/view/ben</li>
								<li>It returns an HTML page about a pet by a particular name (e.g., ben).</li>
								</ul
								<br>
							</p>
							<h4>Front End Specifications</h4>
							<p>Design and implement TWO pages using Bootstrap, one page for Search and the other page for View. The Search page's purpose is for displaying search results. You could include a form on the page, but the form doesn't need to actually work. You can demostrate a search function by typing a URL in a browser's address bar. The View page's purpose is for displaying information about something. For both pages, the content must change dynamically to reflect the arguments given in the irl(e.g., search?n=1 should show only one result, view/ben should show the right pet).<br><br>
								<strong>Submission:</strong> For each screen, submit FIVE screenshots proviing the page content does change dynamically.	
							</p>
							<h2>Week 3 - Bootstrap Hackathon</h2>
							<h3>Objective</h3>
							<p>Create a prototype of a new Robot Dating using Bootstrap. Users of this site are single robots who are looking for love (the Valentine's day is fast approaching. Your prototype should have THREE pages)<br> 
								<ol>
									<li>
										Sign up page
									</li>
									<li>
										Search Form
									</li>
									<li>
										A detailed view of a selected robot
									</li>
								</ol>
								<h3>Requirements</h3>
								<ul>
									<li><strong>Be Creative.</strong>Yoor team is encouraged to be creative in inventing anything that makes sense for robot dating.</li>
									<li><strong>Design sketches must be made first.</strong> You can use any tool or technique you have learned so far (e.g. Balsamiq, Google Template, hand drawing). You must present a live demo of your sketches to a judge.</li>
									<li><strong>Knowledge of Bootstrap components must be demonstrated.</strong> You must use as many Bootstrap features as possible and appropriate.</li>
									<li><strong>Interactivity is not required. </strong>Each page only needs to contain the right Bootstrap components in the right layout to show your design. The components do not need to be interactive of functional (e.g. links and buttons do not need to work)</li>
								</ul><br><br>
							</p>	
						</div>
					</div>
				</div>


				<div class="col-md-2 right">
				</div>

			</div> <!-- container -->

		</div>
	</div>
</body>

</html>
