<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>The Dynamic Classroom</title>
    <meta name="description" content="">
    <meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/OverallSiteStyle.css') }}" rel="stylesheet">


	<!-- JS
	==================================================-->



</head>
<body>
		<div class="row">
			<div class="col-md-2 left" id="left_column">

				<div class="navigation">	

					<ul class="nav_list">
						<li><a href="/"><div class="nav-text">Home</div></a></li>
						<li class='active'><a href="#"><div class="nav-text" id="selected_page">Hackathon</div></a></li>
						<li><a href="journal"><div class="nav-text">Journals</div></a></li>
						<li><a href="results"><div class="nav-text">Results</div></a></li>
						<li><a href="about"><div class="nav-text">About Us</div></a></li>

					</ul>
				</div>
			</div> <!-- /col-md-2 navigation -->

			<div class="col-xs-6 col-md-8 content">	
				<div class="row">
					<div class="col-md-10">
						<h2><a href="../view">Hackathons</a></h2>
						<p>
							Hackathons take what students learned from a previous week's learning challenge and have them test their skills. Students are presented with a scenerio and are then required to take what they learn to complete the hackathon in a 3 hour timespan. 
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-10">
						<h2>Week 6 Example: Flask/SQLAlchemy Hackathon</h2>
						<h4><ul>Task</ul></h4>
						<p>
							Develop a web server for an “Exotic Pet Breeding” site. Tailor your site to a particular exotic species. Be creative and imaginative in which species your team choose to support.
						</p>
					</div>
				</div>
			</div>


			<div class="col-md-2 right">
			</div>

		</div> <!-- container -->

	</div>
</body>

</html>
