<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>The Dynamic Classroom</title>
    <meta name="description" content="">
    <meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/OverallSiteStyle.css') }}" rel="stylesheet">


	<!-- JS
	==================================================-->


</head>
<body>


	<div class="container">
		<!--nav bar-->
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><div class="nav-text">Dynamic Classroom</div></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


					<ul class="nav navbar-nav">
						<li><a href="/"><div class="nav-text">Home</div></a></li>
						<li><a href="hackathon"><div class="nav-text">Hackathon</div></a></li>
						<li class='active'><a href="#"><div class="nav-text">Journals</div></a></li>
						<li><a href="results"><div class="nav-text">Results</div></a></li>
						<li><a href="about"><div class="nav-text">About Us</div></a></li>

					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div class="row">
			<div class="col-md-8">
				<h2><a href="../view">Journals</a></h2>
				<div class="row">


					<p>Oporteat maiestatis posidonium an eum. Sint iudicabit omittantur eum te. Cu ius legendos inimicus. Novum graeci qualisque cum eu.</p>


					<p>Mei ea vide deleniti quaestio, fastidii perpetua at vim. Duo eu postea scaevola, eu quo suscipit mediocritatem, mei simul accusata et. Quo quod decore ceteros cu, his at consul periculis hendrerit, usu quod vero partiendo cu. Iusto adolescens sed ei, postea labitur honestatis id has, quot homero eloquentiam ei sit. Ad porro summo labores mea, recteque molestiae honestatis ut eos, te enim ridens accusamus mei. Ex enim blandit quo, duo ad suas everti iisque.</p>



					<p>Est ex erat nihil luptatum, probo postulant vituperata in cum. Vim oratio efficiantur ea, vis inimicus sententiae intellegebat ex. Iusto voluptatum vituperata est ut, omnes ignota commune cu vis. Est commune sensibus voluptatibus et. An mei audire persequeris.</p>
				</div>
			</div>

			<div class="col-md-4">
				<img src="{{ url_for('static', filename='img/graph2.png') }}" alt text="Hackathon 1" width="300" height="225" rel="tooltip" data-placement="bottom" title="Hackathon 1">
			</div>
		</div>



		<div class="row">
			<div class="col-md-4">
				<img src="{{ url_for('static', filename='img/graph3.png') }}" alt text="Hackathon 1" width="200" height="175" rel="tooltip" data-placement="bottom" title="Hackathon 1">
			</div>
			<div class="col-md-8">
				<h2><a href="../view">Journals</a></h2>
				<div class="row">

					<p>Oporteat maiestatis posidonium an eum. Sint iudicabit omittantur eum te. Cu ius legendos inimicus. Novum graeci qualisque cum eu.</p>


					<p>Mei ea vide deleniti quaestio, fastidii perpetua at vim. Duo eu postea scaevola, eu quo suscipit mediocritatem, mei simul accusata et. Quo quod decore ceteros cu, his at consul periculis hendrerit, usu quod vero partiendo cu. Iusto adolescens sed ei, postea labitur honestatis id has, quot homero eloquentiam ei sit. Ad porro summo labores mea, recteque molestiae honestatis ut eos, te enim ridens accusamus mei. Ex enim blandit quo, duo ad suas everti iisque.</p>



					<p>Est ex erat nihil luptatum, probo postulant vituperata in cum. Vim oratio efficiantur ea, vis inimicus sententiae intellegebat ex. Iusto voluptatum vituperata est ut, omnes ignota commune cu vis. Est commune sensibus voluptatibus et. An mei audire persequeris.</p>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<h3>Challenge 3: Flask + SQLAlchemy</h3>
				<p>
					Read the section “A Minimal Application” and run the example code in a Python shell
				</br>
				<a href="http://pythonhosted.org/Flask-SQLAlchemy/quickstart.html#a-minimal-application">http://pythonhosted.org/Flask-SQLAlchemy/quickstart.html#a-minimal-application</a>
			</p>

				Hint: You will need to run these commands to install necessary packages.
				$ . venv/bin/activate
				$ pip install sqlalchemy
				$ pip install Flask-SQLAlchemy

				<p>
					Add one more user (yourself) to the User table.
				</br>
				<img src="{{ url_for('static', filename='img/journal1.jpg') }}" alt text="Journal 1" rel="tooltip" data-placement="bottom" title="Hackathon 1">
				</p>

				<p>
					The string representation of a user object is not all that helpful. Modify the __repr__ method of the class User.  The goal is to be able to see both attributes of each user object like below. Also, no more <>’s (so later it can be displayed properly in a browser).

				</br>
				<img src="{{ url_for('static', filename='img/journal2.jpg') }}" alt text="Journal 1" rel="tooltip" data-placement="bottom" title="Hackathon 1">
				</p>

				<p>
					Submission 3-a: Type the query like above in a Python interactive shell to show that there are three users (including yourself) and that they are displayed in the shell in the improved format. Take a screenshot of your terminal window and upload the screenshot to your journal.
				</p>

				<p>
					Now, modify your server code to respond to /users and display the result of User.query.all() as a string. (Hint: use <a href="https://docs.python.org/2/library/functions.html#str">str()</a>)

				</br>
				<img src="{{ url_for('static', filename='img/journal3.jpg') }}" alt text="Journal 1" rel="tooltip" data-placement="bottom" title="Hackathon 1">
				</p>


				<p>
					Submission 3-b: Open your browser to /users and the output should be like above. Take a screenshot and upload it to your journal.
				</p>
			</div>
		</div>

		
	</div> <!-- container -->


</body>

</html>
