<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>The Dynamic Classroom</title>
    <meta name="description" content="">
    <meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/OverallSiteStyle.css') }}" rel="stylesheet">


	<!-- JS
	==================================================-->


</head>
<body>
		<div class="row">
			<div class="col-md-2 left">

				<div class="navigation">	

					<ul class="nav_list">
						<li><a href="/"><div class="nav-text">Home</div></a></li>
						<li><a href="hackathon"><div class="nav-text">Hackathon</div></a></li>
						<li class='active'><a href="#"><div class="nav-text" id="selected_page">Journals</div></a></li>
						<li><a href="results"><div class="nav-text">Results</div></a></li>
						<li><a href="about"><div class="nav-text">About Us</div></a></li>

					</ul>
				</div>
			</div> <!-- /col-md-2 navigation -->

			<div class="col-xs-6 col-md-8 content">	
				<div class="row">
					<div class="col-md-8">
						<h2><a href="../view">Journals</a></h2>
						<div class="row">


							<p>The way homework is assigned in our instructional model involves doing a series of challenges that step students through different aspects of the tool they are learning.  These challenges start simple - e.g., downloading and installing the packages - and end with a fully functional use of the tool.  In this way students are actively <em> engaging</em> with their skills by <em>doing</em> activities that integrate this new tool into their repertoire of abilities.  All work is submitted in the way of a <b>learning journal</b>, which is described further below.</p>


							<p>Each assignment also has a reflective compontent that asks students to give feedback about the content and their experience with our module.  We also ask questions about peer learning and problem solving to get a sense of how people are learning together and what extraneous resources they used to help them complete the assignment.  This feedback is collected in the learning journal by posing a series of questions at the end of each module we ask them to respond to prior to submission.</p>



							<p>Our current design has the assignment deployed on our class website which displays a document walking students through the challenges they are to complete.  Specific places where a submission is required are highlighted, which normally involves taking a screenshot or sharing a code snippet to prove the student has progressed to a certain point.  These submissions as well as responses to reflective questions are gathered through the <b>learning journal</b> which is a Google Presentation Document.  Each week we put up a template document that has slide for each submission as well as a slide for every journal question.</p>
						</div>
					</div>

					<div class="col-md-4">
						<img src="{{ url_for('static', filename='img/graph2.png') }}" alt text="Hackathon 1" width="300" height="225" rel="tooltip" data-placement="bottom" title="Hackathon 1">
					</div>
				</div>


				<div class="row">
					<div class="col-md-12">
						<h3>Challenge 3: Flask + SQLAlchemy</h3>
						<p>
							Read the section “A Minimal Application” and run the example code in a Python shell
							<br>
							<a href="http://pythonhosted.org/Flask-SQLAlchemy/quickstart.html#a-minimal-application">http://pythonhosted.org/Flask-SQLAlchemy/quickstart.html#a-minimal-application</a>
						</p>

						Hint: You will need to run these commands to install necessary packages.
						$ . venv/bin/activate
						$ pip install sqlalchemy
						$ pip install Flask-SQLAlchemy

						<p>
							Add one more user (yourself) to the User table.
							<br>
							<img src="{{ url_for('static', filename='img/journal1.jpg') }}" alt text="Journal 1" rel="tooltip" data-placement="bottom" title="Example Query">
						</p>

						<p>
							The string representation of a user object is not all that helpful. Modify the __repr__ method of the class User.  The goal is to be able to see both attributes of each user object like below. Also, no more <>’s (so later it can be displayed properly in a browser).

							<br>
							<img src="{{ url_for('static', filename='img/journal2.jpg') }}" alt text="Journal 1" rel="tooltip" data-placement="bottom" title="Example Attributes">
						</p>

						<p>
							Submission 3-a: Type the query like above in a Python interactive shell to show that there are three users (including yourself) and that they are displayed in the shell in the improved format. Take a screenshot of your terminal window and upload the screenshot to your journal.
						</p>

						<p>
							Now, modify your server code to respond to /users and display the result of User.query.all() as a string. (Hint: use <a href="https://docs.python.org/2/library/functions.html#str">str()</a>)

							<br>
							<img src="{{ url_for('static', filename='img/journal3.jpg') }}" alt text="Journal 1" rel="tooltip" data-placement="bottom" title="DB info through Flask">
						</p>


						<p>
							Submission 3-b: Open your browser to /users and the output should be like above. Take a screenshot and upload it to your journal.
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<h3>Challenge 1: Grid System</h3>
						<p>
							Your first challenge is to learn how to use Bootstrap’s Grid system. You can start by reading the official documentation at <a href="http://getbootstrap.com/css/#grid"> http://getbootstrap.com/css/#grid</a> (skip LESS mixins and variables). 
						</p>

						<p>
							Apply what you just learned. Create a page illustrated like below. Use DIV exclusively. Do not use TABLE or TD or TR. Replace “Joseph Smith” with your own name.
						</p>

						<img src="{{ url_for('static', filename='img/journal4.jpg') }}" alt text="Journal 1" rel="tooltip" data-placement="bottom" title="Example Grid Layout -- Bootstrap">

						<p>
							Submission 1: Take a screenshot of the page you made and insert it into your journal.
						</p>
					</div>
				</div>

			</div> <!-- container -->


			<div class="col-md-2 right">
			</div>
		</div>
	</body>

	</html>
