<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>The Dynamic Classroom</title>
    <meta name="description" content="">
    <meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/OverallSiteStyle.css') }}" rel="stylesheet">


	<!-- JS
	==================================================-->


</head>
<body>


	<div class="container">
		<!--nav bar-->
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Dynamic Classroom</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="hackathon">Hackathon</a></li>
						<li class='active'><a href="#">Journals</a></li>
						<li><a href="about">About Us</a></li>

					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div class="row">
			<div class="col-md-8">
				<h2><a href="../view">Journals</a></h2>
				<div class="row">


					<p>Oporteat maiestatis posidonium an eum. Sint iudicabit omittantur eum te. Cu ius legendos inimicus. Novum graeci qualisque cum eu.</p>


					<p>Mei ea vide deleniti quaestio, fastidii perpetua at vim. Duo eu postea scaevola, eu quo suscipit mediocritatem, mei simul accusata et. Quo quod decore ceteros cu, his at consul periculis hendrerit, usu quod vero partiendo cu. Iusto adolescens sed ei, postea labitur honestatis id has, quot homero eloquentiam ei sit. Ad porro summo labores mea, recteque molestiae honestatis ut eos, te enim ridens accusamus mei. Ex enim blandit quo, duo ad suas everti iisque.</p>



					<p>Est ex erat nihil luptatum, probo postulant vituperata in cum. Vim oratio efficiantur ea, vis inimicus sententiae intellegebat ex. Iusto voluptatum vituperata est ut, omnes ignota commune cu vis. Est commune sensibus voluptatibus et. An mei audire persequeris.</p>
				</div>
			</div>

			<div class="col-md-4">
				<img src="{{ url_for('static', filename='img/graph2.png') }}" alt text="Hackathon 1" width="300" height="225" rel="tooltip" data-placement="bottom" title="Hackathon 1">
			</div>
		</div>



		<div class="row">
			<div class="col-md-4">
				<img src="{{ url_for('static', filename='img/graph3.png') }}" alt text="Hackathon 1" width="200" height="175" rel="tooltip" data-placement="bottom" title="Hackathon 1">
			</div>
			<div class="col-md-8">
				<h2><a href="../view">Journals</a></h2>
				<div class="row">

					<p>Oporteat maiestatis posidonium an eum. Sint iudicabit omittantur eum te. Cu ius legendos inimicus. Novum graeci qualisque cum eu.</p>


					<p>Mei ea vide deleniti quaestio, fastidii perpetua at vim. Duo eu postea scaevola, eu quo suscipit mediocritatem, mei simul accusata et. Quo quod decore ceteros cu, his at consul periculis hendrerit, usu quod vero partiendo cu. Iusto adolescens sed ei, postea labitur honestatis id has, quot homero eloquentiam ei sit. Ad porro summo labores mea, recteque molestiae honestatis ut eos, te enim ridens accusamus mei. Ex enim blandit quo, duo ad suas everti iisque.</p>



					<p>Est ex erat nihil luptatum, probo postulant vituperata in cum. Vim oratio efficiantur ea, vis inimicus sententiae intellegebat ex. Iusto voluptatum vituperata est ut, omnes ignota commune cu vis. Est commune sensibus voluptatibus et. An mei audire persequeris.</p>
				</div>
			</div>
		</div>

		
	</div> <!-- container -->


</body>

</html>
